<!--The content below is only a placeholder and can be replaced.-->
<!-- <app-header></app-header>
<br />
<hr/>
<div class="container">
<app-registration></app-registration>
<app-userdetails></app-userdetails>
<app-userlist></app-userlist>
<hr/>
<div>
  Pipe component demo:
  <app-pipedemo></app-pipedemo>
<hr/>
  Attribute Directve component demo:
  <p myHighlight>Highlight me!</p>
</div>

<div style="text-align:center">
  <h1>
    App component - {{ title }}
  </h1>
  <hr />
  <div>
    <app-practise></app-practise>
  </div>
  <hr />
</div>
</div>
<hr/>
<Footer>Copyrights @Sunny Pahuja 2017</Footer> -->
<app-navbar></app-navbar>
<div class="container">
    <router-outlet></router-outlet>
</div>
  <!-- <app-heroregisteration></app-heroregisteration> -->
  <!-- <app-pipedemo></app-pipedemo>
   -->
  <!--  <div class="container">
   <p myHighlight>Highlight me!</p>
  </div> -->